modules = ["python-3.11", "web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 29094518
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80
